<div id="title">
    <h1>{{ title }}</h1>
    <h2>{{ subtitle }}</h2>
    <p>{{ web }}</p>
</div>
<article class="about">
    <h2>Sobre mi</h2>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed feugiat vel purus id imperdiet. In hac habitasse platea dictumst. Nunc egestas lorem nisi, in blandit lectus porttitor id. Maecenas a malesuada metus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. In risus enim, accumsan et augue nec, gravida sollicitudin nunc. Maecenas iaculis nunc et risus placerat tincidunt. Nam pulvinar quam sed massa pellentesque varius. Fusce pretium massa a metus dignissim feugiat. Nulla mollis dictum ante a lobortis. Pellentesque at nisi lacus. Suspendisse vestibulum a enim vel eleifend. Integer aliquet rutrum tristique. Praesent ultricies sem eu ante cursus sodales. Maecenas faucibus metus sed dolor accumsan, vel finibus arcu pulvinar. Mauris egestas vel felis eu iaculis.
    </p>
</article>
